<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <title>Chatter Box</title>
</head>

<body>
        <header class="container-fluid  px-0">
           <div class="over pt-4">
               <div class="container">
                   <nav class="navbar navbar-expand-md navbar-dark fixed-top w-75 mx-auto pt-1" >
                       <a href="/" class="navbar-brand nav-b brand">CHATTER BOX</a>
                       <button class="navbar-toggler" data-toggle="collapse" data-target="#mynav">
                           <span class="navbar-toggler-icon"></span>
                       </button>
                       <div class="collapse navbar-collapse" id="mynav">
                           <ul class="navbar-nav ml-auto">
                                  {{#if login}}
                                   <li class="nav-item"><a class="nav-link px-3" href="/chat">Enter Chat</a></li>
                               <li class="nav-item"><a class="nav-link px-3" href="/signout">Sign Out</a></li>{{/if}}
                           </ul>
                       </div>
                   </nav>
                     {{{body}}}
               </div>
           </div>
        </header>

</body>

</html>