<div class="row mt-5 pt-5">
   <div class="col-md-12 mt-5 text-center">
        <h2 class="toph2 mt-5"><span style="color:#f82249">CHATTER</span>&nbsp;BOX</h2>
        <hr noshade class="mt-4 hr1">
        <p class="topp mt-1">An all in one platform to connect with your peers,chat with them and also see their faces and listen to their voice.<br> All this without any setup in one easy click to login button</p>
        <a href="/login" class="btn topbtn px-5 py-3 mt-5 mx-5">Login</a>
        <a href="/register" class="btn topbtn px-5 py-3 mt-5 mx-5">Register</a>
   </div>
</div>