{{>cookie}}{{>flash}}

<div class="container text-light mt-5 pt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 mt-5" >
      <form action="/login" class="form px-5" style=" border-color:#f82249!important;" method="post">
        <div class="row mt-4">
          <div class="col-sm-12 text-center">
            <h2>Login to continue</h2>
            <hr noshade>
          </div>
          <div class="col-sm-12">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" placeholder="Enter Email" required />
          </div>
        </div> 
        <div class="row mt-4">
          <div class="col-sm-12">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" placeholder="Enter Password" required />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-12 text-center">
            <input type="submit" style="background-color:#f82249" class="btn topbtn px-5 py-2" id="loginBtn" value="Login">
          </div>
          <div class="col-sm-12">
              <p>Don't have an account?
                <a href="/register" id="registerBtn">Register here</a>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
              </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>