header{background:url(bg1.jpg);background-size: 100% 100%;width: 100%;background-attachment: fixed;}
.brand{border-bottom: 3px solid #f82249}
.over{background:rgba(0,0,15,.8) ;height: 100%!important;width: 100%;padding-bottom: 16.5%}
.nav-b{color:rgba(255,255,255,.7)!important;font-size:1.3em!important;font-weight: 500!important}
.nav-b:hover{color:rgba(255,255,255)!important}
.toph2{color: rgba(255,255,255);font-size: 3em;font-weight: 700;}
.hr1{border:none!important;height:3px!important;background:#f82249;width: 5%}
.topp{color: rgba(255,255,255,.7);font-weight: 300;line-height: 30px;font-size: 1.3em;}
.topbtn{border:2px inset #f82249!important;background: #f82249!important;border-radius: 30px!important;color: white!important;}
.topbtn:hover{background: transparent !important;transition: .5s}
input{
    border-radius: 30px!important;
}
input:focus{
    transform: scale(1.1);
}
@media only screen and (max-width:576px)
{
    .custom_label{
        display:none;
    }
}

/* form css-- */
.form{background: rgba(0,0,0,0.7)!important;border: 1px solid black; padding: 5%;border-radius: 5%;box-shadow: 0 0 10px 1px #f82249;}
.form hr{width:10%;text-align: center;align-content: center;border: 1.5px solid white}
.form h2{color: white;text-align: center}
.form input{border: none; border-bottom: 2px solid rgb(228,188,149,.5);outline: none;background: none;color: white}
.form select{border: none; border-bottom: 2px solid rgb(228,188,149,.5);outline: none;background: transparent;color: white;}
.form select>option{color:black}
.form input:focus{border: none; border-bottom: 2px solid rgb(228,188,149,.5);outline: none;background: none;color: white}
.form label{color: white}
.form input::placeholder{color:rgb(228,188,149,.5)}
.form button{background: white!important;color:#93385fff!important;align-content: center!important;border: 1px solid black;font-weight: 700;box-shadow: 0 0 10px 2px #93385fff;transition: .6s}
.form button:hover{background:#93385fff!important;color: white!important;box-shadow: 0 0 10px 2px rgba(0,0,0,0.9)}
.form p{margin-top: 2%;color:white!important;font-size: 1.1em}
.form p a{color:#93385fff!important;font-weight: 800;transition-duration: .5s}
.form p a:hover{color:white!important;}