<div class="row" *ngIf="state === 'friendList'">
  <div class="col-sm-12">
    <h1 class="subtitle has-text-white listTitle friends">Friend list</h1>
  </div>
  <div class="col-sm-12" *ngFor="let friend of friends">
      <div class="row menu" (click)="changeActiveUserItem(friend)">
          <div class="col-sm-3">
            <img src="{{friend.avatar}}">
            <span class="status" [ngClass]="{'online' : friend.status === 'online', 'offline' : friend.status === 'offline', 'away' : friend.status === 'away', 'busy' : friend.status === 'busy'}"></span>
          </div>
          <div class="col-sm-9">
            <span class="name">{{friend.fullName}}</span>
            <span class="email">{{friend.email}}</span>
            <span [ngClass]="{'notificationDot' : friend.notification}"></span>
          </div>
      </div>
  </div>
</div>

<div class="row" *ngIf="state === 'search'">
    <div class="col-sm-12">
      <button class="button back" (click)="back()">Go back</button>
    </div>
    <div class="col-sm-12"  *ngIf="!searchUsers.length > 0">
      <h1 class="subtitle has-text-white listTitle">No matching users...</h1>
    </div>
    <div class="col-sm-12" *ngIf="searchUsers.length > 0">
      <h1 class="subtitle has-text-white listTitle">Matching users</h1>
      <div class="row menu" *ngFor="let user of searchUsers">
        <div class="col-sm-3">
          <img src="{{user.avatar}}" />
          <span class="status" [ngClass]="{'online' : user.status === 'online', 'offline' : user.status === 'offline', 'away' : user.status === 'away', 'busy' : user.status === 'busy'}"></span>
        </div>
        <div class="col-sm-6">
          <span class="name">{{user.fullName}}</span>
          <span class="email">{{user.email}}</span>
        </div>
        <div class="col-sm-3">
          <button (click)="addUser(user.id)" class="button add is-primary">
            <span class="icon is-small">
              <i class="ion-md-person-add"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
</div>

<div class="row"  *ngIf="state === 'friendRequest'">
  <div class="col-sm-12">
    <button class="button back" (click)="back()">Go back</button>
  </div>
  <div class="col-sm-12" *ngIf="!friendRequestUsers.length > 0">
    <h1 class="subtitle has-text-white listTitle">You don't have any friend requests...</h1>
  </div>
  <div class="col-sm-12" *ngIf="friendRequestUsers.length > 0">
    <h1 class="subtitle has-text-white listTitle">Friend requests</h1>
    <div class="row menu" *ngFor="let request of friendRequestUsers">
      <div class="col-sm-3">
        <img src="{{request.avatar}}">
      </div>
      <div class="col-sm-6">
        <span class="name">{{request.fullName}}</span>
        <span class="email">{{request.email}}</span>
      </div>
      <div class="col-sm-3 select">
        <select #friendRequest (input)="answerRequest(friendRequest.value, request.id)">
          <option selected disabled hidden></option>
          <option value="accept">accept</option>
          <option value="decline">decline</option>
        </select>
      </div>
    </div>
  </div>
</div>
<!-- 
<div *ngIf="state === 'friendRequest'">
  <button class="button back" (click)="back()">Go back</button>
  <div *ngIf="!friendRequestUsers.length > 0">
    <h1 class="subtitle has-text-white listTitle">You don't have any friend requests...</h1>
  </div>

  <div *ngIf="friendRequestUsers.length > 0">
    <h1 class="subtitle has-text-white listTitle">Friend requests</h1>
    <div class="menu">
      <ul class="menu-list">
        <li *ngFor="let request of friendRequestUsers">
          <a>
            <img src="{{request.avatar}}">
            <span class="name">{{request.fullName}}</span>
            <br>
            <span class="email">{{request.email}}</span>

            <div class="select">
              <select #friendRequest (input)="answerRequest(friendRequest.value, request.id)">
                <option selected disabled hidden></option>
                <option value="accept">accept</option>
                <option value="decline">decline</option>
              </select>
            </div> 
          </a>
        </li>
      </ul>
    </div>
  </div>
</div> -->